In [ ]:
1 Write a program to accept prcentage from user end and display the grade according to the following
marks : >90 grade A ,80 and <=90 grade b, >=60 and <=50 grade c, below 60 grade D

In [1]:
percentage = float(input("Enter the percentage: "))

if percentage > 90:
    grade = 'A'
elif percentage > 80:
    grade = 'B'
elif percentage > 60:
    grade = 'C'
else:
    grade = 'D'

print("Grade:", grade)

Enter the percentage:  88

Grade: B

In [ ]:
2 Write a program to accept the cost price of bike and display the road tax to be paid according to the following
tax 15% cost >100000
tax 10% cost >50000 and <=100000
tax 5% cost < = 50000

In [2]:
cost_price = float(input("Enter the cost price of the bike: "))

if cost_price > 100000:
    tax_rate = 0.15
elif cost_price > 50000:
    tax_rate = 0.1
else:
    tax_rate = 0.05

road_tax = cost_price * tax_rate
print("Road tax to be paid: ", road_tax)

Enter the cost price of the bike:  100000

Road tax to be paid:  10000.0

In [ ]:
3 accept any city from the user and display monuments of the city

city: Delhi ,Agra,jaipur
Monument: red fort, taj mahal , jai mahal

In [3]:
city = input("Enter a city (Delhi, Agra, or Jaipur): ")

if city.lower() == "delhi":
    monuments = ["Red Fort"]
elif city.lower() == "agra":
    monuments = ["Taj Mahal"]
elif city.lower() == "jaipur":
    monuments = ["Jai Mahal"]
else:
    monuments = []

if monuments:
    print("Monuments in", city.capitalize() + ":")
    for monument in monuments:
        print(monument)
else:
    print("No information available for the entered city.")

Enter a city (Delhi, Agra, or Jaipur):  delhi

Monuments in Delhi:
Red Fort

In [ ]:
3 Check weather a given number can be  divided by 3 brfore it is less than or equal to 10

In [4]:
number = int(input("Enter a number: "))

while number > 10:
    if number % 3 == 0:
        print("The number", number, "can be divided by 3.")
    else:
        print("The number", number, "cannot be divided by 3.")

    number -= 1

print("The number is now less than or equal to 10.")

Enter a number:  64

The number 64 cannot be divided by 3.
The number 63 can be divided by 3.
The number 62 cannot be divided by 3.
The number 61 cannot be divided by 3.
The number 60 can be divided by 3.
The number 59 cannot be divided by 3.
The number 58 cannot be divided by 3.
The number 57 can be divided by 3.
The number 56 cannot be divided by 3.
The number 55 cannot be divided by 3.
The number 54 can be divided by 3.
The number 53 cannot be divided by 3.
The number 52 cannot be divided by 3.
The number 51 can be divided by 3.
The number 50 cannot be divided by 3.
The number 49 cannot be divided by 3.
The number 48 can be divided by 3.
The number 47 cannot be divided by 3.
The number 46 cannot be divided by 3.
The number 45 can be divided by 3.
The number 44 cannot be divided by 3.
The number 43 cannot be divided by 3.
The number 42 can be divided by 3.
The number 41 cannot be divided by 3.
The number 40 cannot be divided by 3.
The number 39 can be divided by 3.
The number 38 cannot be divided by 3.
The number 37 cannot be divided by 3.
The number 36 can be divided by 3.
The number 35 cannot be divided by 3.
The number 34 cannot be divided by 3.
The number 33 can be divided by 3.
The number 32 cannot be divided by 3.
The number 31 cannot be divided by 3.
The number 30 can be divided by 3.
The number 29 cannot be divided by 3.
The number 28 cannot be divided by 3.
The number 27 can be divided by 3.
The number 26 cannot be divided by 3.
The number 25 cannot be divided by 3.
The number 24 can be divided by 3.
The number 23 cannot be divided by 3.
The number 22 cannot be divided by 3.
The number 21 can be divided by 3.
The number 20 cannot be divided by 3.
The number 19 cannot be divided by 3.
The number 18 can be divided by 3.
The number 17 cannot be divided by 3.
The number 16 cannot be divided by 3.
The number 15 can be divided by 3.
The number 14 cannot be divided by 3.
The number 13 cannot be divided by 3.
The number 12 can be divided by 3.
The number 11 cannot be divided by 3.
The number is now less than or equal to 10.

In [ ]:
4 why and when to use while loop in python give a detailed descrription with example

In [ ]:
The while loop in Python is used when you want to repeat a block of code as long as a certain condition is true. 
It allows you to create iterative processes that continue until a specific condition is no longer met.
The while loop is suitable when you don't know in advance how many iterations will be needed.

Here's a detailed description of when and how to use a while loop in Python, along with an example:

Loop Condition:
The while loop starts by evaluating a condition. If the condition is true, the code block inside the loop is 
executed. If the condition is false, the loop is skipped, and the program continues with the next statement 
after the loop.

Continuation or Termination:
Inside the loop, you typically perform some operations or calculations. At the end of each iteration, the loop 
condition is evaluated again. If the condition is still true, the loop continues to the next iteration. If the 
condition becomes false, the loop is terminated, and the program proceeds with the next statement after the loop.

Modifying the Loop Condition:
To prevent an infinite loop, it's important to modify the loop condition inside the loop body, so that it
eventually becomes false and allows the loop to terminate. This modification usually involves changing the 
values of variables involved in the condition.

In [5]:
n = int(input("Enter a number: "))
sum = 0
i = 1

while i <= n:
    sum += i
    i += 1

print("The sum of numbers from 1 to", n, "is", sum)

Enter a number:  25

The sum of numbers from 1 to 25 is 325

In [ ]:
5 use nested while loop to print 3 differnt patterns

In [ ]:
right angle triangle

In [6]:
# Right-Angled Triangle
rows = 5
i = 1

while i <= rows:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i += 1

*
**
***
****
*****

In [ ]:
Pattern 2: Inverted Right-Angled Triangle

In [7]:
# Inverted Right-Angled Triangle
rows = 5
i = rows

while i >= 1:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i -= 1

*****
****
***
**
*

In [ ]:
Pattern 3: Diamond

In [8]:
# Diamond
rows = 5
i = 1

while i <= rows:
    j = 1
    while j <= rows - i:
        print(" ", end="")
        j += 1

    j = 1
    while j <= i:
        print("* ", end="")
        j += 1

    print()
    i += 1

i = rows - 1

while i >= 1:
    j = 1
    while j <= rows - i:
        print(" ", end="")
        j += 1

    j = 1
    while j <= i:
        print("* ", end="")
        j += 1

    print()
    i -= 1

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
6 reverse a while loop to display numbers from 10 to 1

In [9]:
number = 10

while number >= 1:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1